<a href="https://colab.research.google.com/github/bikashbanjaraa/Scraping_Daraz/blob/main/web_scraping_python800.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# installing required packages

In [ ]:
!pip install requests
!pip install beautifulsoup4
!pip install lxml
!pip install matplotlib
!pip install seaborn
!pip install pandas

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

In [ ]:
<img src="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Traversing_an_HTML_table_with_JavaScript_and_DOM_Interfaces/sample1-tabledom.jpg">

SyntaxError: ignored

<img src="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Traversing_an_HTML_table_with_JavaScript_and_DOM_Interfaces/sample1-tabledom.jpg">

In [ ]:
url = "https://www.worldometers.info/coronavirus/" # scraping website

In [ ]:
import requests

In [ ]:
html = requests.get(url).content

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(html,'html.parser') # parse is used for making tree structure

In [ ]:
table_body = soup.find('tbody')

In [ ]:
table_row = table_body.find_all('tr')

In [ ]:
table_row[8]

<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">107,356,628</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,168,502                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">105,525,088</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">663,038</td>
<td style="font-weight: bold; text-align:right">779</td>
<td style="font-weight: bold; text-align:right">320,654</td>
<td style="font-weight: bold; text-align:right">3,490</td>
<td style="font-weight: bold; text-align:right">1,180,849,538</td>
<td style="font-weight: bold; text-align:right">3,526,974</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>287</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,980</td>
</tr>

In [ ]:
table_row[8].find_all('td')

[<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>,
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>,
 <td style="font-weight: bold; text-align:right">107,356,628</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right;">1,168,502                                </td>,
 <td style="font-weight: bold;
                                     text-align:right;"></td>,
 <td style="font-weight: bold; text-align:right">105,525,088</td>,
 <td style="font-weight: bold; text-align:right;"></td>,
 <td style="text-align:right;font-weight:bold;">663,038</td>,
 <td style="font-weight: bold; text-align:right">779</td>,
 <td style="font-weight: bold; text-align:right">320,654</td>,
 <td style="font-weight: bold; text-align:right">3,490</td>,
 <td style="font-weight: bold; text-align:right">1,180,849,538</td>,
 <td style="font-weight: bold; text-align:right">3,526,974</td>,
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>,
 <td data-continent="North America" style="display:none">North America</td>,
 <td>3</td>,
 <td>287</td>,
 <td>0</td>,
 <td style="font-weight: bold; text-align:right"></td>,
 <td style="font-weight: bold; text-align:right"></td>,
 <td style="font-weight: bold; text-align:right">1,980</td>]

In [ ]:
all_data = []
for i in range(8,len(table_row)):
  country_data = []
  tr = table_row[i].find_all('td')
  for item in tr:
    country_data.append(item.text.strip())
  all_data.append(country_data)

In [ ]:
all_data[0]

['1',
 'USA',
 '107,356,628',
 '',
 '1,168,502',
 '',
 '105,525,088',
 '',
 '663,038',
 '779',
 '320,654',
 '3,490',
 '1,180,849,538',
 '3,526,974',
 '334,805,269',
 'North America',
 '3',
 '287',
 '0',
 '',
 '',
 '1,980']

now this can be added in database. or csv ma tanna milda. now if we don't want all the data. say we need only country name, total_case,new_case,total_death, new_death

In [ ]:
all_data[0][:5] # usa ko agadidekhi ko 5 ko column matra leko

['1', 'USA', '107,356,628', '', '1,168,502']

In [ ]:
all_data[1][:5]

['2', 'India', '44,994,575', '', '531,913']

In [ ]:
cleaned_data  = [item [1:6]for item in all_data]

In [ ]:
columns = ['Country','Total_cases','New_cases','Total_Death','New_Death']

aba yeslai csv import garera dict writer  use garda nih hunxa or pandas use garda nih hunxa

In [ ]:
import pandas as pd

In [ ]:
# tabular data is represented in DataFrame object in pandas.

In [ ]:
df = pd.DataFrame(cleaned_data,columns=columns)

In [ ]:
df.head() # first 5 row of dataframe

   Country  Total_cases New_cases Total_Death New_Death
0      USA  107,356,628             1,168,502
1    India   44,994,575               531,913
2   France   40,138,560               167,642
3  Germany   38,428,685               174,352
4   Brazil   37,682,660               704,159

In [ ]:
df.tail() # last 5 rows

            Country Total_cases New_cases Total_Death New_Death
226    Vatican City          29
227         Tokelau          23
228  Western Sahara          10                     1
229      MS Zaandam           9                     2
230           China     503,302                 5,272

In [ ]:
# now this need to be saved in csv or excel

In [ ]:
df.to_csv('covid_july_10_2023.csv',index = False)

# reading csv file in pandas:

In [ ]:
table = pd.read_csv('/content/covid_july_10_2023.csv',na_values = ['',' ','   '])

In [ ]:
table

            Country  Total_cases  New_cases Total_Death  New_Death
0               USA  107,356,628        NaN   1,168,502        NaN
1             India   44,994,575        NaN     531,913        NaN
2            France   40,138,560        NaN     167,642        NaN
3           Germany   38,428,685        NaN     174,352        NaN
4            Brazil   37,682,660        NaN     704,159        NaN
..              ...          ...        ...         ...        ...
226    Vatican City           29        NaN         NaN        NaN
227         Tokelau           23        NaN         NaN        NaN
228  Western Sahara           10        NaN           1        NaN
229      MS Zaandam            9        NaN           2        NaN
230           China      503,302        NaN       5,272        NaN

[231 rows x 5 columns]

In [ ]:
table.head()

   Country  Total_cases  New_cases Total_Death  New_Death
0      USA  107,356,628        NaN   1,168,502        NaN
1    India   44,994,575        NaN     531,913        NaN
2   France   40,138,560        NaN     167,642        NaN
3  Germany   38,428,685        NaN     174,352        NaN
4   Brazil   37,682,660        NaN     704,159        NaN

In [ ]:
table.loc[table['Country'] == 'Nepal']    # loc means locate.

   Country Total_cases  New_cases Total_Death  New_Death
72   Nepal   1,003,371        NaN      12,031        NaN

In [ ]:
table.loc[table['Country']== 'Canada']

   Country Total_cases  New_cases Total_Death  New_Death
32  Canada   4,690,486        NaN      52,912        NaN

In [ ]:
# if we want column total death only

In [ ]:
table['Total_Death'][:5]

0    1,168,502
1      531,913
2      167,642
3      174,352
4      704,159
Name: Total_Death, dtype: object

# inserting these data into database.

In [ ]:
import sqlite3
con = sqlite3.connect('covid.db')
cur = con.cursor()

In [ ]:
data_to_be_inserted = table.to_records(index = False)

In [ ]:
query = """
create table covid_data (Country_Name varchar(100),
Total_Cases varchar(100),
New_cases varchar(100),
Total_Death varchar(100),
New_Death varchar(100))
"""

In [ ]:
cur.execute(query)

In [ ]:
cur.executemany("insert into covid_data values(?,?,?,?,?)",data_to_be_inserted)

In [ ]:

cur.execute("select * from covid_data where Country_Name = 'Nepal'").fetchall()

[('Nepal', '1,003,371', None, '12,031', None)]